@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <form action="/GCD/GCD" method="post">
        <div>
            <label for="number">Input 2 numbers:</label>
            <input type="number" class="form-control" maxlength="11" id="n1" name="n1" placeholder="First number"
                   value="@(ViewBag.n1)">
            <input type="number" class="form-control" maxlength="11" id="n2" name="n2" placeholder="Second number"
                   value="@(ViewBag.n2)">
            @*<input class="form-control" name="number" id=" number" placeholder="0" />
        <input class="form-control" name="number" id=" number" placeholder="0" />*@
        </div>
        <div>
            <label for="algorithm">Select algorithm:</label>
            <select name="algorithm" id="algorithm" class="checkbox h5">
                <option value="Eurledian">Eurledian</option>
                <option value="Binary">Binary</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn" btn-info">Calculate</button>
        </div>
    </form>
</div>