@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <form action="/GCD/GCD" method="post">
        <div>
            <label for="number">Input 2 numbers:</label>
            <input class="form-control" name="numberFirst" id="numberFirst" placeholder="0" />
            <input class="form-control" name="numberSecond" id="numberSecond" placeholder="0" />
        </div>
        <div>
            <label for="algorithm">Select algorithm:</label>
            <select name="algorithm" id="algorithm" class="checkbox h5">
                <option value="Eurledian">Eukledian</option>
                <option value="Binary">Binary</option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn" btn-info">Calculate</button>
        </div>
    </form>
</div>